<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Products</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" /> -->
    </head>
    <body>
        <h2>Manage your products</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody th:each="p : ${products}">
                  <tbody th:include="(${session.current} != null and ${p.id} == ${session.current.id})?edit:view::view"></tbody>
                </tbody>
            </table>
            <h3>Add a product</h3>
            <form th:action="@{/}" method="post" th:object="${product}">
                <fieldset>
                    <label for="name">Product name</label>
                    <input type="text" id="name" th:field="*{name}" />
                    <label for="description">Product description</label>
                    <input type="text" id="description" th:field="*{description}" />
                    <label for="price">Product price</label>
                    <input type="number" id="price" th:field="*{price}" />
                    <label for="image">Product image</label>
                    <input type="text" id="image" th:field="*{image}" />
                    <input type="submit" value="add" />
                </fieldset>
            </form>
        </div>

    </body>
</html>
