<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>View    </head>
    <body>
        <table>
            <tr th:fragment="view">
<!--                <td th:text="${session.current.id}" th:if="${session.current != null}"></td>
                <td th:text="${p.id}"></td>-->
                <td th:text="${p.name}"></td>
                <td th:text="${p.description}"></td>
                <td th:text="${p.price}"></td>
                <td th:text ="cartofi"></td>
                <td><img th:src="@{/assets/images/{name}(name=${p.image})}" /></td>
                <td>
                    <form th:action="@{/{id}(id=${p.id})}" th:method="delete">
                        <input type="submit" value="del" />
                    </form>
                    <form th:action="@{/{id}(id=${p.id})}" th:method="get">
                        <input type="submit" value="edit" />
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>